.model-space-list, .models-list {
  display: flex;
  flex-wrap: wrap;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --title-block: 50px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7*/
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.adress {
  font-style: normal;
}

.conteiner {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer .conteiner {
  display: flex;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: var(--title-block);
}

.logo {
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

.logo-img {
  border-radius: 10%;
}

.darkbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-windows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-windows-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-windows-button-icon {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-windows-button-icon:focus, .modal-windows-button-icon:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-windows-text {
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-label {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form-label:not(:first-child) {
  margin-top: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-textarea {
  width: 100%;
  height: 96px;
  margin-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-textarea::placeholder {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-label {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal-form-check-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  cursor: pointer;
  margin-right: 7px;
}
.modal-form-checkbox:checked + .modal-form-check-label::before {
  background-image: url(../images/icon-check.svg);
  background-position: center;
  border: var(--accent-color);
}

.modal-form-checkbox-link {
  color: var(--accent-color);
}

.modal-form-btn {
  align-self: center;
  min-width: 200px;
  height: 50px;
  outline: none;
  border: none;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188CE8;
  cursor: pointer;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ECECEC;
}
.header .conteiner {
  display: flex;
  align-items: center;
}
.header .logo {
  margin-right: 93px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus {
  color: var(--accent-color);
}

.active {
  position: relative;
  color: #2196F3;
}
.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.header-contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-icon-smartphone1 {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link1:hover .contact-icon-smartphone1, .contact-link1:focus .contact-icon-smartphone1 {
  fill: var(--accent-color);
}

.contact-link1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 30px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link1:hover, .contact-link1:focus {
  color: var(--accent-color);
}

.contact-icon-smartphone2 {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link2:hover .contact-icon-smartphone2, .contact-link2:focus .contact-icon-smartphone2 {
  fill: var(--accent-color);
}

.contact-link2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link2:hover, .contact-link2:focus {
  color: var(--accent-color);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-back3.jpg");
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-button {
  min-width: 200px;
  padding: 10px 32px;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  cursor: pointer;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
}

.hero-button-magic {
  display: flex;
  justify-content: center;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 47px;
}

.benefits-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.benefits-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(25% - 30px);
}

.benefits-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.benefits-icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.benefits-icon-icon {
  width: 70px;
  height: 70px;
}

.models {
  padding-top: 47px;
  padding-bottom: 97px;
}

.models-list {
  margin-left: -30px;
  margin-top: -30px;
}

.models-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(25% - 30px);
}

.models-div-for-text {
  position: relative;
}

.models-absolute-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: var(--accent-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.salers {
  background-color: #F5F4FA;
  padding-top: 91px;
  padding-bottom: 94px;
}

.salers-2-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.salers-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.salers-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.salers-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(25% - 30px);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.salers-item-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
}

.social-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link:hover, .social-icon-link:focus {
  background-color: #2196F3;
}

.social-icon-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link:hover .social-icon-svg, .social-icon-link:focus .social-icon-svg {
  fill: #FFFFFF;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customers-icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover .customers-icon, .customers-link:focus .customers-icon {
  fill: var(--accent-color);
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover, .customers-link:focus {
  border: 1px solid var(--accent-color);
}

.model-space {
  margin-top: 94px;
  margin-bottom: 94px;
}

.model-space-button-list {
  display: flex;
  justify-content: center;
  margin-top: -8px;
  margin-left: -8px;
  margin-bottom: 50px;
}

.model-space-button-item {
  margin-top: 8px;
  margin-left: 8px;
}

.model-space-button {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  min-width: 103px;
  padding: 6px 22px;
  background: #F5F4FA;
  border-radius: 4px;
  border: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-space-button:hover, .model-space-button:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.model-space-list {
  margin-top: -30px;
  margin-left: -30px;
}

.model-space-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(33.3333333333% - 30px);
  background: #FFFFFF;
}

.model-space-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-space-link:hover, .model-space-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.model-space-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.model-space-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.model-wrapper {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0px;
}

.for-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: scroll;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-space-link:hover .overlay, .model-space-link:focus .overlay {
  transform: translateY(0%);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress {
  margin-top: 20px;
}

.footer-left-adress {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-left-contact {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-right {
  margin-left: 70px;
}

.footer-title-social {
  height: 16px;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.send-wrapper .footer-title-social {
  margin-bottom: 20px;
}

.footer-icon-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-icon-icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover, .footer-icon-link:focus {
  background-color: var(--accent-color);
}

.send-wrapper {
  margin-left: auto;
}

.send-wrapper-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-wrapper-input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-wrapper-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.send-wrapper-btn {
  min-width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border: none;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-wrapper-btn:hover, .send-wrapper-btn:focus {
  background-color: #188CE8;
  cursor: pointer;
}

.send-wrapper-icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */