.modal-windows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-windows-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-windows-button-icon {
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover{
        fill: var(--accent-color);
    }
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-windows-text {
    margin-bottom: 12px;
    font-family: var(--main-font);
    @include font (20px, 700, 23px);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.modal-form-label {
    font-family: var(--main-font);
    @include font (12px, 400, 14px);
    letter-spacing: 0.01em;
    color: #757575;

    &:not(:first-child) {
        margin-top: 10px;
    }
}
.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    font-family: var(--main-font);
    @include font (12px, 400, 14px);
    letter-spacing: 0.01em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}
.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form-input:focus+& {
        fill: var(--accent-color);
    }
}
.modal-form-input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
}
.modal-form-textarea {
    width: 100%;
    height: 96px;
    margin-top: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    font-family: var(--main-font);
    @include font (12px, 400, 14px);
    letter-spacing: 0.01em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }

    &::placeholder {
        font-family: var(--main-font);
        @include font (12px, 400, 14px);
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}
.modal-form-check-label {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    @include font (14px, 400, 24px);
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;

    &::before {
        display: block;
        content: "";
        width: 16px;
        height: 15px;
        border: 1px solid #212121;
        cursor: pointer;
        margin-right: 7px;

        .modal-form-checkbox:checked+& {
            background-image: url(../images/icon-check.svg);
            background-position: center;
            border: var(--accent-color);
        }
    }
}
.modal-form-checkbox-link {
    color: var(--accent-color);
}
.modal-form-btn {
    align-self: center;
    min-width: 200px;
    height: 50px;
    outline: none;
    border: none;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: var(--main-font);
    @include font (16px, 700, 30px);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
        cursor: pointer;
    }
}